<!-- custom code here -->

<!-- plausible.io -->
<script async defer data-domain="art.djnavarro.net" src="https://plausible.io/js/plausible.js"></script>

<!-- fontawesome -->
<script src="https://kit.fontawesome.com/913d8a29e8.js" crossorigin="anonymous"></script>

<!-- mastodon verification -->
<a rel="me" href="https://fosstodon.org/@djnavarro"></a>
<a rel="me" href="https://genart.social/@djnavarro"></a>


<!-- IMPORTANT: Remove any references in older versions of jquery -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.0/jquery.fancybox.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.0/jquery.fancybox.min.css" />
